.container{
	border:1px solid black;
}
.primera{
	border:1px solid red;
}
.historia{
	 width: 150px;
	 height: 50px;
	 background-color: gray;
	 color: white;
}
.glyphicon-bookmark{
	color:black;
}
.glyphicon-tags{
	color:black;
	margin-left: 20px;
}
a{
	color: gray;
}
.webzone{
	background-color: black;
	color:white;
	width: 100px;
	height: 20px;
}
.link{
	margin: 3px;
}
.foto{
	width: 450px;
	 height:250px;
	 background-color: gray;
	 color: black;
	 text-align: center;
}
.letra{
	padding-top: 120px;
	font-size: 20px;
}
.segunda{
	border:1px solid red;
}
.historia{
	 width: 150px;
	 height: 50px;
	 background-color: gray;
	 color: white;
}
iframe{
	width:100%;
	height:300px; 
}
.caja3{
	width: 60px;
	height: 50px;
	background-color: gray;
	color: black;
	text-align: center;
	display: inline-block;
}